*.DS_Store
*__pychache__/
MachineLearning/nubes de puntos/.DS_Store
MachineLearning/nubes de puntos/200
MachineLearning/conv/img*
MachineLearning/conv/munster*
MachineLearning/histogram/RAW_SIGNALS_SF*
*/img/*
old/MachineLearning/conv/img/*
old/MachineLearning/conv/munster/*
multithreadding/conv04/img/*
datavisualization/EX_01_147668_ALONSOSANCHEZ_ALEJANDRO.zip
openGTO/node_modules/

openGTO/mongo-data/
/old/multithreadding/conv04/img
/old/MachineLearning/nubes de puntos/output
old/datamining/tsa/Analysis/Avance Proyeto Probabilidad/Serial Time/Rplot.png
old/datamining/tsa/Analysis/Avance Proyeto Probabilidad/Serial Time/Rplot01.png
old/datamining/tsa/Analysis/Avance Proyeto Probabilidad/Serial Time/Rplot02.png
old/datamining/tsa/Analysis/Avance Proyeto Probabilidad/Serial Time/Rplot03.png
old/datamining/tsa/Analysis/Avance Proyeto Probabilidad/Serial Time/Rplot04.png
old/datamining/tsa/Analysis/Avance Proyeto Probabilidad/Serial Time/Rplot05.png
old/datamining/tsa/Analysis/Avance Proyeto Probabilidad/Serial Time/Rplot06.png
old/datamining/tsa/Analysis/Avance Proyeto Probabilidad/Serial Time/Rplot07.png
/old/datamining/tsa/Analysis/Avance Proyeto Probabilidad/Plots
/neural networks/tutorial
evolutionary computation/ackley function/steps.png